@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  background-color: #424242;
}
.main{
  width: 600px;

  margin: 0 auto;
  margin-top: 100px;
}
#logoSlogan{
  width: 340px
  height: 400px;
  float: left;
}
#loginBox{
  width: 250px;
  height:100px;
  background-color: #ededed;
  float:right;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
#loginBox .text{
  margin-top: 10px;
}
#signupBox{
  width: 250px;
  height: 290px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  background-color: #ededed;
  float:right;
}

#signupBox h2{
  text-align: center;
  font-size: 15px;
}
.text{
  font-family: 'Lato', sans-serif;
}
.text label{
  display: inline-block;
  text-align: right;
  width: 100px;
  padding: 3px;
}
select{
  float: right;
}
input{
  float: right;
}
.submit{
  width: 100px;
  height: auto;
  border: none;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#message{
text-align: center;
width:250px;
height:30px;
font-style: oblique;
}

#logInMessage{
  text-align: center;
  width:250px;
  height:20px;
  font-style: oblique;
}
#psw_match{
  display: none;
}
#psw_len{
  display: none;
}
/* ----------------------- LAB 4 ----------------------------*/
#recoverBox{
  width: 250px;
  height:100px;


}
#passwordBox{
  color: #F0FFFF;
}
#fp_main{

  width:400px;


  margin-top: 350px;
  margin-left: 50%;
  margin-right: 50%;
  text-align: center;
}

#fp_form{

width: 300px;
height: 100px;
padding: 5%;
background-color: #ededed;

}
#fp_form label{
  display: inline-block;
  text-align: right;
  width: 100px;
  padding: 3px;
}


/* Profile view */
nav{
  width: 100%;
  height: 47px;
  background-color: #c5c5c5;
}
li{
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  padding: 14px 16px;
  float: left;
  cursor: pointer;
}
li:hover{
  background-color: darkgray;
}
section{
  width:100%;
  height: 800px;
  background-color: #c5c5c5;

}
#HomeTab{
  display: block;
}
#HomeBtn{
  background-color: #6e6e6e;
}
#BrowseTab{
  display: none;
}
#AccTab{
  display: none;
}
#accform label{
display: inline-block;
text-align: right;
width: 100px;
padding: 3px;
}

#accform{
  width: 280px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

#accform .submit{
  width: 100px;
  height: auto;
  border: none;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#signOutBox{
  float:right;
}

#accountInfo{
  margin:3%;
  font-family: 'Roboto', sans-serif;
  width:250px;
  float:left;

}
#messageWall{
float:right;
  width: 270px;
}

#postedMess {
width: 100px;
height:100px;
background-color: #6e6e6e
color: white;
padding: 3%;

}
#browseUserInfo{
  display: none;
}
#browseUser{
  float:left;
}
